<h2>Resoults index</h2>

<table class="table table-hover table-inverse">
  
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th>image</th>
          <th>name</th>
        </tr>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Option</th>
          <th>Tag</th>
        </tr>
        <tr>
          <td><%= image_tag book.user.get_profile_image(100,100) %></td>
          <td>
            <%= link_to book_path(book.id) do %>
              <%= book.title %>
            <% end %>
          </td>
          <td><%= book.body %></td>
          <td><%= book.tag %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>